:root {
  --main-black-color: #000000;
  --secondary-white-color: #ffffff;
  --button-gradient: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  --hero-button-hover-color: #06071b;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-black-color);
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  background-color: var(--secondary-white-color);
}

/* UTILITIES */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(1248px + 16px + 16px);
  background-color: rgb(0, 128, 0);
}

img {
  display: block;
  max-width: 100%;
}

/* END UTILITIES */

/* HEADER */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--secondary-white-color);
}

.header {
  background-color: aqua;
}

.page-nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  padding-top: 29px;
  padding-bottom: 28px;
  font-size: 12px;
  line-height: 1.25;

  color: var(--secondary-white-color);
}


/* END HEADER */
/*-- HERO --*/

.hero-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;

  color: var(--secondary-white-color);
}

.hero-subtitle {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--secondary-white-color);
}

.hero-list .item {
  margin-top: 0;
  margin-left: 22px;
  margin-bottom: 12px;
  font-weight: 700;

  line-height: 1.19;
  color: var(--secondary-white-color);
}

.hero-list .item:last-child {
  margin-bottom: 60px;
}

.hero-button {
  margin: 0;
  padding: 11px 60px 12px 61px;

  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-white-color);
  background: var(--button-gradient);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background: var(--hero-button-hover-color);
}

.hero-button:active {
  background: var(--button-gradient);
}

/* END HERO */
/* WATCH THE VIDEO */

.watch-video {
  display: flex;
  padding-top: 60px;

  background-color: var(--hero-button-hover-color);
}

.watch-text {
  margin-right: 161px;
}

.video-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.2;

  color: var(--secondary-white-color);
}

.video-text {
  width: 479px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;

  color: var(--secondary-white-color);
}

/* END WATCH THE VIDEO */
/* OUR TEAM */

.team-title {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  max-width: 886px;
  text-align: center;
}

.card-item {
  width: 288px;
  padding: 12px;
  background: linear-gradient(
      105.09deg,
      rgba(0, 197, 235, 0.5) -13.66%,
      rgba(181, 68, 254, 0.5) 104.34%
    ),
    var(--hero-button-hover-color);
  border-radius: 15px;
}

.card-img {
  border-radius: 10px;
}

.card-title {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-white-color);
}

.card-text {
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: var(--secondary-white-color);
}

/* END OUR TEAM */
