:root {
  --body-background-color: #ffffff;
  --text-color: #000000;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  background-color: var(--body-background-color);
}

/* utilities */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(1248px + 16px + 16px);
  background-color: rgb(0, 128, 68);
}

img {
  display: block;
  max-width: 100%;
}

/* End utilities */
